# Build
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Env
.env

# Logs
*.log
logs/
